<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet" />

<style type="text/css">
  .sidebar-container .sidebar-item {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
  }

  .sidebar-container .sidebar-item.css-mecyfo[data-selected='true'] {
    color: #330072;
    background: rgba(100, 41, 205, 0.08);
    font-weight: 700;
    border-right: 5px solid #6429cd;
  }

  .sidebar-container .sidebar-item.css-mecyfo[data-selected='false'] {
    font-weight: 400;
  }

  .sidebar-container .sidebar-item:hover,
  .sidebar-container .sidebar-item:focus {
    outline: none;
    background: rgba(100, 41, 205, 0.08);
  }

  .sidebar-header {
    min-height: 36px;
  }

  .sidebar-container .sidebar-item svg {
      display: none;
  }

  .sidebar-container .sidebar-item .css-ct44ui, .sidebar-container .sidebar-item .css-1necw0m {
    margin-right: 10px;
    color: #6429CD;
  }

  /* Hide Default stories in sidebar */
  #components-button--default, #componentes-radio--variants {
    display: none;
  }

  #componentes-icon--all-icons {
    display: none;
  }
</style>
