<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet" />


<!-- Para DEV -->
<link rel="stylesheet" href="../dist/pragma-ds/pragma-ds.css" />

<!-- Para PDN -->
<!-- <link rel="stylesheet" href="./pragma-ds/pragma-ds.css" /> -->



<style>
  .sbdocs {
    font-family: 'Poppins';
  }

  .sbdocs.sbdocs-content h1 {
    font: var(--pds-font-heading-01-bold);
    /* font-size: 40px;
    font-weight: 700; */
  }
  .sbdocs.sbdocs-content h2 {
    font: var(--pds-font-heading-02-bold);
    font-size: 32px;
    font-weight: 700;
  }

  .sbdocs.sbdocs-content h3 {
    font: var(--pds-font-heading-03-bold);
    font-size: 24px;
    font-weight: 700;
  }

  .sbdocs.sbdocs-content h4 {
    font: var(--pds-font-heading-04-bold);
    /* color: var(--pds-color-primary-purple-700, #330072); */
  }

  
  .sbdocs.sbdocs-content h5 {
    font: var(--pds-font-heading-05-bold);
    /* color: var(--pds-color-primary-purple-700, #330072); */
  }
  .sbdocs.sbdocs-content p code {
    font: var(--pds-font-heading-05-bold);
    font-size: 13px;
  }
  .sbdocs.sbdocs-content > p,
  .sbdocs.sbdocs-content ul,
  .sbdocs.sbdocs-content ul li,
  .sbdocs.sbdocs-content ul li p {
    font: var(--pds-font-paragraph-02-regular);
    /* color: var(--pds-color-primary-purple-700, #330072); */
    font-size: 16px;
  }

  .sbdocs.sbdocs-content .sbdocs-preview {
    background: var(--pds-color-gray-50);
    border: 1px solid var(--pds-color-gray-50);
    border-radius: 25px;
  }

  .sbdocs.sbdocs-content .sbdocs-preview .docs-story .css-1wjen9k {
    padding: 30px 20px 96px;
  }

  .sbdocs.sbdocs-content .sbdocs-preview .docs-story .css-11xgcgt {
    width: 100%;
    padding: 20px 0;
    justify-content: end;
    background: inherit;
    border-top: 1px solid var(--pds-color-gray-100);
  }

  .sbdocs.sbdocs-content .sbdocs-preview .docs-story .docblock-code-toggle {
    background: inherit;
    border: none;
  }

  .sbdocs.sbdocs-content .sbdocs-preview .docs-story .docblock-code-toggle:focus {
    box-shadow: none;
  }

  .sbdocs.sbdocs-content hr {
    border-top: 1px solid var(--pds-color-primary-purple-500);
  }

  /*table.docblock-argstable > thead > tr > th:last-child,
  table.docblock-argstable > tbody > tr > td:last-child {
    display: none;
  }

  table.docblock-argstable > tbody > .css-1oi7qoy > td:last-child {
    display: revert;
  }*/

  .dark-theme {
    background: var(--pds-color-primary-gray-900);
    color: var(--pds-color-gray-50);
  }

  .dark-theme .sbdocs.sbdocs-wrapper {
    background: var(--pds-color-primary-purple-700);
    color: var(--pds-color-white-50);
  }

  .dark-theme .sbdocs.sbdocs-content h1 {
    color: var(--pds-color-white-50);
  }

  .dark-theme .sbdocs.sbdocs-content h2 {
    color: var(--pds-color-white-50);
  }

  .dark-theme .sbdocs.sbdocs-content h3 {
    color: var(--pds-color-white-50);
  }

  .dark-theme .sbdocs.sbdocs-content h4 {
    color: var(--pds-color-white-50);
  }

  .dark-theme .sbdocs.sbdocs-content h5 {
    color: var(--pds-color-white-50);
  }

  .dark-theme .sbdocs.sbdocs-content p,
  .dark-theme .sbdocs.sbdocs-content li {
    color: var(--pds-color-white-50);
  }

  .dark-theme .sbdocs.sbdocs-content th {
    color: var(--pds-color-white-50);
  }

  .dark-theme .sbdocs.sbdocs-content .sbdocs-preview .docs-story {
    background: var(--pds-color-primary-purple-900);
  }

  .dark-theme .sbdocs.sbdocs-content .sbdocs-preview .docs-story > div:last-child {
    background: var(--pds-color-primary-purple-900);
    color: var(--pds-color-white-50);
  }

  .dark-theme .sbdocs.sbdocs-content .sbdocs-preview .docs-story > div:last-child > button{
    color: var(--pds-color-white-50);
  }
</style>

<!-- Para DEV -->
<script type="module" src="../dist/pragma-ds/pragma-ds.esm.js"></script>
<script nomodule="" src="../dist/pragma-ds/index.esm.js"></script>

<!-- Para PDN -->
<!-- <script type="module" src="./pragma-ds/pragma-ds.esm.js"></script>
<script nomodule="" src="./pragma-ds/index.esm.js"></script> -->
