:host {
  // Custom vars for size Avatar
  --size-avatar: 36px;
  --size-small: 28px;
  --size-large: 56px;
  --size-x-large: 64px;

  // Custom vars for size icon
  --size-icon: 15.4px;
  --size-icon-small: 12px;
  --size-icon-large: 24px;
  --size-icon-x-large: 27.4px;

  // Custom vars for background and color avatar
  --bg-text-default: var(--pds-color-primary-purple-500);
  --bg-text-white: var(--pds-color-gray-50);
  --bg-text-purple-light: var(--pds-color-primary-indigo-500);

  --color-text-default: var(--pds-color-white-50);
  --color-text-white: var(--pds-color-primary-purple-700);
  --color-text-purple-light: var(--pds-color-primary-purple-700);

  // Custom vars for font
  --font-default: var(--pds-font-paragraph-03-bold);
  --font-small: var(--pds-font-footer-bold);
  --font-large: var(--pds-font-paragraph-01-bold);
  --font-x-large: var(--pds-font-heading-04-bold);

  --shadow-avatar: var(--pds-box-shadow-400-purple);

  /* ----------------------------------- */
  display: block;
  border-radius: var(--pds-radius-half);
  display: flex;
  justify-content: var(--button-justify, center);
  align-items: center;
  user-select: none;
  position: relative;
  height: var(--size-avatar);
  width: var(--size-avatar);
  background-color: var(--bg-text-default);
  font: var(--font-default);
}

.avatar-img {
  border-radius: var(--pds-radius-half);
  display: inline-block;
  height: 100%;
  margin: 0;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.avatar-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: var(--size-icon);
}

.avatar-text {
  margin: 0;
  height: auto;
  color: var(--color-text-default);
}

:host(:hover) {
  box-shadow: var(--shadow-avatar);
}

:host([size='small']) {
  --size-avatar: var(--size-small);
  --font-default: var(--font-small);
}

:host([size='large']) {
  --size-avatar: var(--size-large);
  --font-default: var(--font-large);
}

:host([size='x-large']) {
  --size-avatar: var(--size-x-large);
  --font-default: var(--font-x-large);
}

:host([type-initials='text-white']) {
  --bg-text-default: var(--bg-text-white);
  .avatar-text {
    --color-text-default: var(--color-text-white);
  }
}

:host([type-initials='text-purple-light']) {
  --bg-text-default: var(--bg-text-purple-light);

  .avatar-text {
    --color-text-default: var(--pds-color-primary-purple-700);
  }
}

:host([size='small']) .avatar-icon {
  --size-icon: var(--size-icon-small);
}

:host([size='large']) .avatar-icon {
  --size-icon: var(--size-icon-large);
}

:host([size='x-large']) .avatar-icon {
  --size-icon: var(--size-icon-x-large);
}
