<div class="container__button">
  <pds-button>Click me!</pds-button>
</div>
<pds-icon name="user-b"></pds-icon>
<pds-accordion text="Heading" icon="user">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae natus saepe
  esse quibusdam ducimus nihil, laborum soluta sed eius temporibus, molestias,
  provident quos explicabo nisi repellendus necessitatibus perferendis dolores
  ullam.
  </pds-accordion>

  <pds-breadcrumb [items]="list"></pds-breadcrumb>
