:host {
  font-family: var( --pds-font-family-base);

  // Shadows

  --purple-shadow: 0px 5px 10px rgba(100, 41, 205, 0.6), inset 0px 0px 6px rgba(189, 189, 255, 0.6);
  --red-shadow: 0px 5px 10px rgba(237, 0, 57, 0.6), inset 0px 0px 6px rgba(255, 184, 201, 0.6);
  --green-shadow: 0px 5px 10px rgba(102,236,196, 0.6), inset 0px 0px 6px rgba(148, 255, 223, 0.6);
  --gray-shadow: 0px 5px 10px rgba(130, 130, 133, 0.6), inset 0px 0px 6px rgba(246, 247, 252, 0.6);

  --purple-scroll: #6429cd80;
  --red-scroll: #ed003980;
  --green-scroll: #00eca580;
  --gray-scroll: #82828580;

  --label-txt-color: var(--pds-color-primary-purple-700);
  --border-color-area: var(--pds-color-primary-purple-500);
  --backgroung-color-area: var(--pds-color-primary-purple-50);
  --text-color-area: var(--pds-color-primary-purple-700);
  --placeholder-txt-color-area: var(--pds-color-gray-300);
  --shadow-area: var(--purple-shadow);
  --resize-icon-color: var(--pds-color-primary-purple-700);
  --span-txt-color: var(--pds-color-gray-800);
  --scroll-color: var(--purple-scroll);

  --font: var(--pds-font-paragraph-03-regular)

  --width: 300px;
}

@mixin line {
  content:"";
  border-top: 3px solid var(--resize-icon-color);
  width:17px;
  -webkit-transform: rotate(-45deg);
  z-index: 1;
  background:transparent;
  position: absolute;
  pointer-events: none;
  border-radius:25%;
}


label {
  font-weight: var(--pds-font-weight-bold);
  font-size: var(--pds-font-paragraph-03-size);
  color: var(--label-txt-color);
  position: relative;
}

textarea {
  width: var(--width);
  height: 130px;
  min-width: 150px;
  min-height: 50px;
  font: var(--font);
  // @include scroll-style;
  border-radius: 25px;
  border-width: 1px;
  border-color: var(--border-color-area);
  padding: 10px;
  background-color: var(--backgroung-color-area);
  margin-top: 10px;
  outline: none;
  line-height: 1.4;
  cursor: pointer;
  color: var(--text-color-area);
  box-sizing: border-box;
  &::placeholder {
    color: var(--placeholder-txt-color-area);
  }
  &:focus {
    box-shadow: var(--shadow-area);
    cursor: text;
  }
  &::-webkit-resizer {
    display: none;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--scroll-color);
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
    margin-block: .8rem;
  }
}

.wrapper {
  position: absolute;
  display: inline-block;
  bottom: 6px;

  &::after{
    @include line;
    right: 13px;
    bottom: 22px;
  }

  .tab {
    @include line;
    bottom: 17px;
    right: 12px;
    width: 9px;
  }
}


span {
  font-size: var(--pds-font-caption-size);
  color: var(--span-txt-color);
  font-weight: var(--pds-font-weight-regular);
}

:host([type="Error"]) {
  --label-txt-color: var(--pds-color-error-500);
  --border-color-area: var(--pds-color-error-500);
  --backgroung-color-area: var(--pds-color-error-500-opacity-100);
  --text-color-area: var(--pds-color-error-500);
  --placeholder-txt-color-area: var(--pds-color-error-500);
  --shadow-area: var(--red-shadow);
  --resize-icon-color: var(--pds-color-error-500);
  --span-txt-color: var(--pds-color-error-500);
  --scroll-color: var(--red-scroll);

}

:host([type="Success"]) {
  --label-txt-color: var(--pds-color-success-700);
  --border-color-area: var(--pds-color-success-500);
  --backgroung-color-area: var(--pds-color-success-50-opacity-100);
  --text-color-area: var(--pds-color-success-700);
  --placeholder-txt-color-area: var(--pds-color-success-700);
  --shadow-area: var(--green-shadow);
  --resize-icon-color: var(--pds-color-success-700);
  --span-txt-color: var(--pds-color-success-700);
  --scroll-color: var(var(--purple-scroll));
  --scroll-color: var(--green-scroll);
}

:host([type="Disabled"]) {
  --label-txt-color: var(--pds-color-gray-400-opacity-500);
  --border-color-area: var(--pds-color-gray-400-opacity-300);
  --backgroung-color-area: var(--pds-color-gray-400-opacity-100);
  --text-color-area: var(--pds-color-gray-400-opacity-500);
  --placeholder-txt-color-area: var(--pds-color-gray-400-opacity-500);
  --shadow-area: var(--gray-shadow);
  --resize-icon-color: var(--pds-color-gray-400-opacity-500);
  --span-txt-color: var(--pds-color-gray-400-opacity-500);
  --scroll-color: var(--gray-scroll);
}

:host([disableResize]) textarea {
  resize: none;
}
