@import "./pds-button.vars.scss";

:host {
  display: inline-block;
  width: auto;
  font-family: var(--font-family);
}

/* Button default */
.button {
  position: relative;
  display: flex;
  white-space: nowrap;
  justify-content: var(--justify);
  align-items: center;
  border: var(--border);
  border-radius: var(--border-radius);
  width: inherit;
  height: var(--height);
  padding: var(--padding-vertical) var(--padding-horizontal);
  font: var(--font);
  letter-spacing: var(--letter-spacing);
  color: var(--color);
  background: var(--background);
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  user-select: none;
  cursor: pointer;
  text-transform: var(--text-transform);
  // outline: none;
  transition: var(--transition);

  &:disabled {
    cursor: default;
    pointer-events: none;
    text-decoration: none;
    color:  var(--color-disabled);
    background: var(--background-disabled);
    box-shadow: var(--box-shadow-disabled);
    border: var(--border-disabled);
  }

  &:hover:not([disabled]) {
    color:  var(--color-hover);
    background: var(--background-hover);
    box-shadow: var(--box-shadow-hover);
  }

  &:active:not([disabled]) {
    color:  var(--color-activated);
    background: var(--background-activated);
    box-shadow: var(--box-shadow-activated);
  }
}
