:host {
  /**
  * @prop --background: Fondo del botón.
  * @prop --background-activated: Fondo del botón cuando se presiona.
  * @prop --background-disabled: Fondo del botón cuando está deshabilitado.
  * @prop --background-hover: fondo del botón al pasar el mouse.
  *
  * @prop --border: Borde del botón.
  * @prop --border-disabled: Borde del botón cuando está deshabilitado.
  * @prop --border-radius: Radio del borde del botón.
  *
  * @prop --box-shadow: Sombra del botón.
  * @prop --box-shadow-activated: Sombra del botón cuando se presiona.
  * @prop --box-shadow-disabled: Sombra del botón cuando está deshabilitado.
  * @prop --box-shadow-hover: Sombra del botón al pasar el mouse.
  *
  * @prop --color: Color del texto del botón.
  * @prop --color-activated: Color del texto del botón cuando se presiona.
  * @prop --color-disabled: Color del texto del botón cuando está deshabilitado.
  * @prop --color-hover: Color del texto del botón cuando se hace hover.
  *
  * @prop --font: Fuente con el formato: font-style font-variant font-weight font-size/line-height font-family;
  * @prop --font-family: Familia tipográfica del botón.
  *
  * @prop --height: Altura del botón.
  *
  * @prop --justify: Justifica el contenido del botón.
  *
  * @prop --letter-spacing: Espaciado entre letras del botón.
  *
  * @prop --padding-horizontal: Relleno superior e inferior del botón..
  * @prop --padding-vertical: Relleno izquierdo y derecho del botón.
  *
  * @prop --text-transform: Transformación de texto del botón.
  * @prop --transition: Transición del botón.
  */
  --justify: center;
  --border-radius: 50px;
  --height: 40px;
  --padding-vertical: var(--pds-space-s);
  --padding-horizontal: var(--pds-space-m);
  --font-family: var(--pds-font-family-base, inherit);
  --font: var(--pds-font-heading-06-semibold);
  --letter-spacing: inherit;
  --text-transform: none;
  --transition: background .2s ease-out, color .2s ease-out;

  // Values for button primary
  --color: var(--pds-color-gray-50, #f6f7fc);
  --background: var(--pds-color-primary-purple-500, #6429cd);
  --box-shadow: none;
  --border: none;
  // :hover
  --color-hover: var(--color);
  --background-hover: var(--background);
  --box-shadow-hover: var(--pds-inner-shadow-01);
  // :active
  --color-activated: var(--color);
  --background-activated: var(--pds-color-secondary-purpel-700, #440099);
  --box-shadow-activated: var(--box-shadow-hover);
  // :disabled
  --color-disabled: rgba(var(--pds-color-gray-400-rgb), var(--pds-opacity-500));
  --background-disabled: rgba(var(--pds-color-gray-400-rgb), var(--pds-opacity-300));
  --box-shadow-disabled: none;
  --border-disabled: none;
}

// Values for button secondary
:host([variant="secondary"]) {
  --color: var(--pds-color-primary-purple-500);
  --background: transparent;
  --border: 1px solid var(--pds-color-primary-purple-500);
    // :hover
  --background-hover: linear-gradient(0deg, rgba(var(--pds-color-primary-purple-500-rgb), var(--pds-opacity-300)), rgba(var(--pds-color-primary-purple-500-rgb), var(--pds-opacity-300)));
  --color-hover: var(--color);
  // :active
  --color-activated: var(--pds-color-white-50);
  --background-activated: var(--pds-color-primary-purple-500);
  // :disabled
  --color-disabled: rgba(var(--pds-color-gray-400-rgb), var(--pds-opacity-500));
  --background-disabled: transparent;
  --border-disabled: 1px solid rgba(var(--pds-color-gray-400-rgb), var(--pds-opacity-500));
}

// Values for button tertiary
:host([variant="tertiary"]) {
  --color: var(--pds-color-primary-purple-500);
  --background: transparent;
  --border: none;
  --box-shadow: none;
  // :hover
  --background-hover: rgba(var(--pds-color-primary-purple-500-rgb), var(--pds-opacity-300));
  --color-hover: var(--color);
  --box-shadow-hover: var(--box-shadow);
  // :active
  --color-activated: var(--pds-color-white-50);
  --background-activated: var(--pds-color-primary-purple-500);
  --box-shadow-activated: var(--box-shadow);
  // :disabled
  --color-disabled: rgba(var(--pds-color-gray-400-rgb), var(--pds-opacity-500));
  --background-disabled: var(--background);
}

// Values for button small
:host([size="small"]) {
  --height: 32px;
  --padding-vertical: 16px;
  --padding-horizontal: 16px;
  --font: var(--pds-font-paragraph-03-semibold);
}
