@font-face {
  font-family: 'FontPragma';
  src:
    url('./fonts/FontPragma.ttf?2b5u4j') format('truetype'),
    url('./fonts/FontPragma.woff?2b5u4j') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.pds {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'FontPragma' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pds-tesoreria-b:before {
  content: "\e900";
}
.pds-tesoreria:before {
  content: "\e901";
  color: #6429cd;
}
.pds-tesoreria-f .path1:before {
  content: "\e902";
  color: rgb(100, 41, 205);
}
.pds-tesoreria-f .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-support-b:before {
  content: "\e904";
}
.pds-support:before {
  content: "\e905";
  color: #6429cd;
}
.pds-support-f .path1:before {
  content: "\e906";
  color: rgb(100, 41, 205);
}
.pds-support-f .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-support-f .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-support-f .path4:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-support-f .path5:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-support-f .path6:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-support-f .path7:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-list-b:before {
  content: "\e90d";
}
.pds-list:before {
  content: "\e90e";
  color: #6429cd;
}
.pds-list-f .path1:before {
  content: "\e90f";
  color: rgb(100, 41, 205);
}
.pds-list-f .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-list-f .path3:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-list-f .path4:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-list-f .path5:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-list-f .path6:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-list-f .path7:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-solicitudes-b:before {
  content: "\e916";
}
.pds-solicitudes:before {
  content: "\e917";
  color: #6429cd;
}
.pds-solicitudes-f .path1:before {
  content: "\e918";
  color: rgb(100, 41, 205);
}
.pds-solicitudes-f .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-chevron-right-b:before {
  content: "\e91a";
}
.pds-chevron-right:before {
  content: "\e91b";
  color: #6429cd;
}
.pds-chevron-right-f .path1:before {
  content: "\e91c";
  color: rgb(100, 41, 205);
}
.pds-chevron-right-f .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-chevron-left-b:before {
  content: "\e91e";
}
.pds-chevron-left:before {
  content: "\e91f";
  color: #6429cd;
}
.pds-chevron-left-f .path1:before {
  content: "\e920";
  color: rgb(100, 41, 205);
}
.pds-chevron-left-f .path2:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-chevron-down-b:before {
  content: "\e922";
}
.pds-chevron-down:before {
  content: "\e923";
  color: #6429cd;
}
.pds-chevron-down-f .path1:before {
  content: "\e924";
  color: rgb(100, 41, 205);
}
.pds-chevron-down-f .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-chevron-up-b:before {
  content: "\e926";
}
.pds-chevron-up:before {
  content: "\e927";
  color: #6429cd;
}
.pds-chevron-up-f .path1:before {
  content: "\e928";
  color: rgb(100, 41, 205);
}
.pds-chevron-up-f .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-historial-b:before {
  content: "\e92a";
}
.pds-historial:before {
  content: "\e92b";
  color: #6429cd;
}
.pds-historial-f .path1:before {
  content: "\e92c";
  color: rgb(100, 41, 205);
}
.pds-historial-f .path2:before {
  content: "\e92d";
  margin-left: -1.03125em;
  color: rgb(255, 255, 255);
}
.pds-historial-f .path3:before {
  content: "\e92e";
  margin-left: -1.03125em;
  color: rgb(255, 255, 255);
}
.pds-historial-f .path4:before {
  content: "\e92f";
  margin-left: -1.03125em;
  color: rgb(255, 255, 255);
}
.pds-zap-b:before {
  content: "\e930";
}
.pds-zap:before {
  content: "\e931";
  color: #6429cd;
}
.pds-zap-f .path1:before {
  content: "\e932";
  color: rgb(100, 41, 205);
}
.pds-zap-f .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-x-b:before {
  content: "\e934";
}
.pds-x:before {
  content: "\e935";
  color: #6429cd;
}
.pds-x-f .path1:before {
  content: "\e936";
  color: rgb(100, 41, 205);
}
.pds-x-f .path2:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-volume-b:before {
  content: "\e938";
}
.pds-volume:before {
  content: "\e939";
  color: #6429cd;
}
.pds-volume-f .path1:before {
  content: "\e93a";
  color: rgb(100, 41, 205);
}
.pds-volume-f .path2:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-volume-f .path3:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-video-b:before {
  content: "\e93d";
}
.pds-video:before {
  content: "\e93e";
  color: #6429cd;
}
.pds-video-f .path1:before {
  content: "\e93f";
  color: rgb(100, 41, 205);
}
.pds-video-f .path2:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-users-b:before {
  content: "\e941";
}
.pds-users:before {
  content: "\e942";
  color: #6429cd;
}
.pds-users-f .path1:before {
  content: "\e943";
  color: rgb(100, 41, 205);
}
.pds-users-f .path2:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-users-f .path3:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-users-f .path4:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-users-f .path5:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-user-b:before {
  content: "\e948";
}
.pds-user:before {
  content: "\e949";
  color: #6429cd;
}
.pds-user-plus-b:before {
  content: "\e94a";
}
.pds-user-plus:before {
  content: "\e94b";
  color: #6429cd;
}
.pds-user-plus-f .path1:before {
  content: "\e94c";
  color: rgb(100, 41, 205);
}
.pds-user-plus-f .path2:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-user-plus-f .path3:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-user-plus-f .path4:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-upload-b:before {
  content: "\e950";
}
.pds-upload:before {
  content: "\e951";
  color: #6429cd;
}
.pds-upload-f .path1:before {
  content: "\e952";
  color: rgb(100, 41, 205);
}
.pds-upload-f .path2:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-upload-f .path3:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-unlock-b:before {
  content: "\e955";
}
.pds-unlock:before {
  content: "\e956";
  color: #6429cd;
}
.pds-unlock-f .path1:before {
  content: "\e957";
  color: rgb(100, 41, 205);
}
.pds-unlock-f .path2:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-trash-b:before {
  content: "\e959";
}
.pds-trash:before {
  content: "\e95a";
  color: #6429cd;
}
.pds-trash-f .path1:before {
  content: "\e95b";
  color: rgb(100, 41, 205);
}
.pds-trash-f .path2:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-trash-f .path3:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-trash-f .path4:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-tool-b:before {
  content: "\e95f";
}
.pds-tool:before {
  content: "\e960";
  color: #6429cd;
}
.pds-tool-f .path1:before {
  content: "\e961";
  color: rgb(100, 41, 205);
}
.pds-tool-f .path2:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-thumbs-up-b:before {
  content: "\e963";
}
.pds-thumbs-up:before {
  content: "\e964";
  color: #6429cd;
}
.pds-thumbs-up-f .path1:before {
  content: "\e965";
  color: rgb(100, 41, 205);
}
.pds-thumbs-up-f .path2:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-thumbs-down-b:before {
  content: "\e967";
}
.pds-thumbs-down:before {
  content: "\e968";
  color: #6429cd;
}
.pds-thumbs-down-f .path1:before {
  content: "\e969";
  color: rgb(100, 41, 205);
}
.pds-thumbs-down-f .path2:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-tablet-b:before {
  content: "\e96b";
}
.pds-tablet:before {
  content: "\e96c";
  color: #6429cd;
}
.pds-tablet-f .path1:before {
  content: "\e96d";
  color: rgb(100, 41, 205);
}
.pds-tablet-f .path2:before {
  content: "\e96e";
  margin-left: -0.9697265625em;
  color: rgb(255, 255, 255);
}
.pds-tablet-f .path3:before {
  content: "\e96f";
  margin-left: -0.9697265625em;
  color: rgb(255, 255, 255);
}
.pds-sun-b:before {
  content: "\e970";
}
.pds-sun:before {
  content: "\e971";
  color: #6429cd;
}
.pds-sun-f .path1:before {
  content: "\e972";
  color: rgb(100, 41, 205);
}
.pds-sun-f .path2:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-sun-f .path3:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-sun-f .path4:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-sun-f .path5:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-sun-f .path6:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-sun-f .path7:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-sun-f .path8:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-sun-f .path9:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-sun-f .path10:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-star-b:before {
  content: "\e97c";
}
.pds-star:before {
  content: "\e97d";
  color: #6429cd;
}
.pds-star-f .path1:before {
  content: "\e97e";
  color: rgb(100, 41, 205);
}
.pds-star-f .path2:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-smartphone-b:before {
  content: "\e980";
}
.pds-smartphone:before {
  content: "\e981";
  color: #6429cd;
}
.pds-smartphone-f .path1:before {
  content: "\e982";
  color: rgb(100, 41, 205);
}
.pds-smartphone-f .path2:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-smartphone-f .path3:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-sliders-b:before {
  content: "\e985";
}
.pds-sliders:before {
  content: "\e986";
  color: #6429cd;
}
.pds-sliders-f .path1:before {
  content: "\e987";
  color: rgb(100, 41, 205);
}
.pds-sliders-f .path2:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-sliders-f .path3:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-sliders-f .path4:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-sliders-f .path5:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-sliders-f .path6:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-sliders-f .path7:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-slash-b:before {
  content: "\e98e";
}
.pds-slash:before {
  content: "\e98f";
  color: #6429cd;
}
.pds-slash-f .path1:before {
  content: "\e990";
  color: rgb(100, 41, 205);
}
.pds-slash-f .path2:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-sidebar-b:before {
  content: "\e992";
}
.pds-sidebar:before {
  content: "\e993";
  color: #6429cd;
}
.pds-sidebar-f .path1:before {
  content: "\e994";
  color: rgb(100, 41, 205);
}
.pds-sidebar-f .path2:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-shuffle-b:before {
  content: "\e996";
}
.pds-shuffle:before {
  content: "\e997";
  color: #6429cd;
}
.pds-shuffle-f .path1:before {
  content: "\e998";
  color: rgb(100, 41, 205);
}
.pds-shuffle-f .path2:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-shuffle-f .path3:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-shuffle-f .path4:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-shopping-cart-b:before {
  content: "\e99c";
}
.pds-shopping-cart:before {
  content: "\e99d";
  color: #6429cd;
}
.pds-shopping-cart-f .path1:before {
  content: "\e99e";
  color: rgb(100, 41, 205);
}
.pds-shopping-cart-f .path2:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-shopping-cart-f .path3:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-shopping-cart-f .path4:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-shield-b:before {
  content: "\e9a2";
}
.pds-shield:before {
  content: "\e9a3";
  color: #6429cd;
}
.pds-shield-f .path1:before {
  content: "\e9a4";
  color: rgb(100, 41, 205);
}
.pds-shield-f .path2:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-share-b:before {
  content: "\e9a6";
}
.pds-share:before {
  content: "\e9a7";
  color: #6429cd;
}
.pds-share-f .path1:before {
  content: "\e9a8";
  color: rgb(100, 41, 205);
}
.pds-share-f .path2:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-settings-b:before {
  content: "\e9aa";
}
.pds-settings:before {
  content: "\e9ab";
  color: #6429cd;
}
.pds-settings-f .path1:before {
  content: "\e9ac";
  color: rgb(100, 41, 205);
}
.pds-settings-f .path2:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-settings-f .path3:before {
  content: "\e9ae";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-send-b:before {
  content: "\e9af";
}
.pds-send:before {
  content: "\e9b0";
  color: #6429cd;
}
.pds-send-f .path1:before {
  content: "\e9b1";
  color: rgb(100, 41, 205);
}
.pds-send-f .path2:before {
  content: "\e9b2";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-search-b:before {
  content: "\e9b3";
}
.pds-search:before {
  content: "\e9b4";
  color: #6429cd;
}
.pds-search-f .path1:before {
  content: "\e9b5";
  color: rgb(100, 41, 205);
}
.pds-search-f .path2:before {
  content: "\e9b6";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-scissors-b:before {
  content: "\e9b7";
}
.pds-scissors:before {
  content: "\e9b8";
  color: #6429cd;
}
.pds-scissors-f .path1:before {
  content: "\e9b9";
  color: rgb(100, 41, 205);
}
.pds-scissors-f .path2:before {
  content: "\e9ba";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-scissors-f .path3:before {
  content: "\e9bb";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-rss-b:before {
  content: "\e9bc";
}
.pds-rss:before {
  content: "\e9bd";
  color: #6429cd;
}
.pds-rss-f .path1:before {
  content: "\e9be";
  color: rgb(100, 41, 205);
}
.pds-rss-f .path2:before {
  content: "\e9bf";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-rss-f .path3:before {
  content: "\e9c0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-rss-f .path4:before {
  content: "\e9c1";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-rotate-b:before {
  content: "\e9c2";
}
.pds-rotate:before {
  content: "\e9c3";
  color: #6429cd;
}
.pds-rotate-f .path1:before {
  content: "\e9c4";
  color: rgb(100, 41, 205);
}
.pds-rotate-f .path2:before {
  content: "\e9c5";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-repeat-b:before {
  content: "\e9c6";
}
.pds-repeat:before {
  content: "\e9c7";
  color: #6429cd;
}
.pds-repeat-f .path1:before {
  content: "\e9c8";
  color: rgb(100, 41, 205);
}
.pds-repeat-f .path2:before {
  content: "\e9c9";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-repeat-f .path3:before {
  content: "\e9ca";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-printer-b:before {
  content: "\e9cb";
}
.pds-printer:before {
  content: "\e9cc";
  color: #6429cd;
}
.pds-printer-f .path1:before {
  content: "\e9cd";
  color: rgb(100, 41, 205);
}
.pds-printer-f .path2:before {
  content: "\e9ce";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-power-b:before {
  content: "\e9cf";
}
.pds-power:before {
  content: "\e9d0";
  color: #6429cd;
}
.pds-power-f .path1:before {
  content: "\e9d1";
  color: rgb(100, 41, 205);
}
.pds-power-f .path2:before {
  content: "\e9d2";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-power-f .path3:before {
  content: "\e9d3";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-plus-b:before {
  content: "\e9d4";
}
.pds-plus:before {
  content: "\e9d5";
  color: #6429cd;
}
.pds-plus-f .path1:before {
  content: "\e9d6";
  color: rgb(100, 41, 205);
}
.pds-plus-f .path2:before {
  content: "\e9d7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-play-b:before {
  content: "\e9d8";
}
.pds-play:before {
  content: "\e9d9";
  color: #6429cd;
}
.pds-play-f .path1:before {
  content: "\e9da";
  color: rgb(100, 41, 205);
}
.pds-play-f .path2:before {
  content: "\e9db";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-pie-chart-b:before {
  content: "\e9dc";
}
.pds-pie-chart:before {
  content: "\e9dd";
  color: #6429cd;
}
.pds-pie-chart-f .path1:before {
  content: "\e9de";
  color: rgb(100, 41, 205);
}
.pds-pie-chart-f .path2:before {
  content: "\e9df";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-pie-chart-f .path3:before {
  content: "\e9e0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-phone-b:before {
  content: "\e9e1";
}
.pds-phone:before {
  content: "\e9e2";
  color: #6429cd;
}
.pds-phone-f .path1:before {
  content: "\e9e3";
  color: rgb(100, 41, 205);
}
.pds-phone-f .path2:before {
  content: "\e9e4";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-pen-tool-b:before {
  content: "\e9e5";
}
.pds-pen-tool:before {
  content: "\e9e6";
  color: #6429cd;
}
.pds-pen-tool-f .path1:before {
  content: "\e9e7";
  color: rgb(100, 41, 205);
}
.pds-pen-tool-f .path2:before {
  content: "\e9e8";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-navigation-b:before {
  content: "\e9e9";
}
.pds-navigation:before {
  content: "\e9ea";
  color: #6429cd;
}
.pds-navigation-f .path1:before {
  content: "\e9eb";
  color: rgb(100, 41, 205);
}
.pds-navigation-f .path2:before {
  content: "\e9ec";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-music-b:before {
  content: "\e9ed";
}
.pds-music:before {
  content: "\e9ee";
  color: #6429cd;
}
.pds-music-f .path1:before {
  content: "\e9ef";
  color: rgb(100, 41, 205);
}
.pds-music-f .path2:before {
  content: "\e9f0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-mouse-pointer-b:before {
  content: "\e9f1";
}
.pds-mouse-pointer:before {
  content: "\e9f2";
  color: #6429cd;
}
.pds-mouse-pointer-f .path1:before {
  content: "\e9f3";
  color: rgb(100, 41, 205);
}
.pds-mouse-pointer-f .path2:before {
  content: "\e9f4";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-more-horizontal-b:before {
  content: "\e9f5";
}
.pds-more-horizontal:before {
  content: "\e9f6";
  color: #6429cd;
}
.pds-more-horizontal-f .path1:before {
  content: "\e9f7";
  color: rgb(100, 41, 205);
}
.pds-more-horizontal-f .path2:before {
  content: "\e9f8";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-more-horizontal-f .path3:before {
  content: "\e9f9";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-more-horizontal-f .path4:before {
  content: "\e9fa";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-moon-b:before {
  content: "\e9fb";
}
.pds-moon:before {
  content: "\e9fc";
  color: #6429cd;
}
.pds-moon-f .path1:before {
  content: "\e9fd";
  color: rgb(100, 41, 205);
}
.pds-moon-f .path2:before {
  content: "\e9fe";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-monitor-b:before {
  content: "\e9ff";
}
.pds-monitor:before {
  content: "\ea00";
  color: #6429cd;
}
.pds-monitor-f .path1:before {
  content: "\ea01";
  color: rgb(100, 41, 205);
}
.pds-monitor-f .path2:before {
  content: "\ea02";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-minus-b:before {
  content: "\ea03";
}
.pds-minus:before {
  content: "\ea04";
  color: #6429cd;
}
.pds-minus-f .path1:before {
  content: "\ea05";
  color: rgb(100, 41, 205);
}
.pds-minus-f .path2:before {
  content: "\ea06";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-minimize-b:before {
  content: "\ea07";
}
.pds-minimize:before {
  content: "\ea08";
  color: #6429cd;
}
.pds-minimize-f .path1:before {
  content: "\ea09";
  color: rgb(100, 41, 205);
}
.pds-minimize-f .path2:before {
  content: "\ea0a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-minimize-f .path3:before {
  content: "\ea0b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-mic-b:before {
  content: "\ea0c";
}
.pds-mic:before {
  content: "\ea0d";
  color: #6429cd;
}
.pds-mic-f .path1:before {
  content: "\ea0e";
  color: rgb(100, 41, 205);
}
.pds-mic-f .path2:before {
  content: "\ea0f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-mic-f .path3:before {
  content: "\ea10";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-message-b:before {
  content: "\ea11";
}
.pds-message:before {
  content: "\ea12";
  color: #6429cd;
}
.pds-message-f .path1:before {
  content: "\ea13";
  color: rgb(100, 41, 205);
}
.pds-message-f .path2:before {
  content: "\ea14";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-menu-b:before {
  content: "\ea15";
}
.pds-menu:before {
  content: "\ea16";
  color: #6429cd;
}
.pds-menu-f .path1:before {
  content: "\ea17";
  color: rgb(100, 41, 205);
}
.pds-menu-f .path2:before {
  content: "\ea18";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-menu-f .path3:before {
  content: "\ea19";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-menu-f .path4:before {
  content: "\ea1a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-maximize-b:before {
  content: "\ea1b";
}
.pds-maximize:before {
  content: "\ea1c";
  color: #6429cd;
}
.pds-maximize-f .path1:before {
  content: "\ea1d";
  color: rgb(100, 41, 205);
}
.pds-maximize-f .path2:before {
  content: "\ea1e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-maximize-f .path3:before {
  content: "\ea1f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-map-b:before {
  content: "\ea20";
}
.pds-map:before {
  content: "\ea21";
  color: #6429cd;
}
.pds-map-f .path1:before {
  content: "\ea22";
  color: rgb(100, 41, 205);
}
.pds-map-f .path2:before {
  content: "\ea23";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-map-pin-b:before {
  content: "\ea24";
}
.pds-map-pin:before {
  content: "\ea25";
  color: #6429cd;
}
.pds-map-pin-f .path1:before {
  content: "\ea26";
  color: rgb(100, 41, 205);
}
.pds-map-pin-f .path2:before {
  content: "\ea27";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-map-pin-f .path3:before {
  content: "\ea28";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-mail-b:before {
  content: "\ea29";
}
.pds-mail:before {
  content: "\ea2a";
  color: #6429cd;
}
.pds-mail-f .path1:before {
  content: "\ea2b";
  color: rgb(100, 41, 205);
}
.pds-mail-f .path2:before {
  content: "\ea2c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-log-out-b:before {
  content: "\ea2d";
}
.pds-log-out:before {
  content: "\ea2e";
  color: #6429cd;
}
.pds-log-out-f .path1:before {
  content: "\ea2f";
  color: rgb(100, 41, 205);
}
.pds-log-out-f .path2:before {
  content: "\ea30";
  margin-left: -1.03125em;
  color: rgb(255, 255, 255);
}
.pds-log-out-f .path3:before {
  content: "\ea31";
  margin-left: -1.03125em;
  color: rgb(255, 255, 255);
}
.pds-log-in-b:before {
  content: "\ea32";
}
.pds-log-in:before {
  content: "\ea33";
  color: #6429cd;
}
.pds-log-in-f .path1:before {
  content: "\ea34";
  color: rgb(100, 41, 205);
}
.pds-log-in-f .path2:before {
  content: "\ea35";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-log-in-f .path3:before {
  content: "\ea36";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-lock-b:before {
  content: "\ea37";
}
.pds-lock:before {
  content: "\ea38";
  color: #6429cd;
}
.pds-lock-f .path1:before {
  content: "\ea39";
  color: rgb(100, 41, 205);
}
.pds-lock-f .path2:before {
  content: "\ea3a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-link-b:before {
  content: "\ea3b";
}
.pds-link:before {
  content: "\ea3c";
  color: #6429cd;
}
.pds-link-f .path1:before {
  content: "\ea3d";
  color: rgb(100, 41, 205);
}
.pds-link-f .path2:before {
  content: "\ea3e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-link-f .path3:before {
  content: "\ea3f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-layout-b:before {
  content: "\ea40";
}
.pds-layout:before {
  content: "\ea41";
  color: #6429cd;
}
.pds-layout-f .path1:before {
  content: "\ea42";
  color: rgb(100, 41, 205);
}
.pds-layout-f .path2:before {
  content: "\ea43";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-layers-b:before {
  content: "\ea44";
}
.pds-layers:before {
  content: "\ea45";
  color: #6429cd;
}
.pds-layers-f .path1:before {
  content: "\ea46";
  color: rgb(100, 41, 205);
}
.pds-layers-f .path2:before {
  content: "\ea47";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-layers-f .path3:before {
  content: "\ea48";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-layers-f .path4:before {
  content: "\ea49";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-key-b:before {
  content: "\ea4a";
}
.pds-key:before {
  content: "\ea4b";
  color: #6429cd;
}
.pds-key-f .path1:before {
  content: "\ea4c";
  color: rgb(100, 41, 205);
}
.pds-key-f .path2:before {
  content: "\ea4d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-info-b:before {
  content: "\ea4e";
}
.pds-info:before {
  content: "\ea4f";
  color: #6429cd;
}
.pds-info-f .path1:before {
  content: "\ea50";
  color: rgb(100, 41, 205);
}
.pds-info-f .path2:before {
  content: "\ea51";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-info-f .path3:before {
  content: "\ea52";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-info-f .path4:before {
  content: "\ea53";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-inbox-b:before {
  content: "\ea54";
}
.pds-inbox:before {
  content: "\ea55";
  color: #6429cd;
}
.pds-inbox-f .path1:before {
  content: "\ea56";
  color: rgb(100, 41, 205);
}
.pds-inbox-f .path2:before {
  content: "\ea57";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-image-b:before {
  content: "\ea58";
}
.pds-image:before {
  content: "\ea59";
  color: #6429cd;
}
.pds-image-f .path1:before {
  content: "\ea5a";
  color: rgb(100, 41, 205);
}
.pds-image-f .path2:before {
  content: "\ea5b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-image-f .path3:before {
  content: "\ea5c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-home-b:before {
  content: "\ea5d";
}
.pds-home:before {
  content: "\ea5e";
  color: #6429cd;
}
.pds-home-f .path1:before {
  content: "\ea5f";
  color: rgb(100, 41, 205);
}
.pds-home-f .path2:before {
  content: "\ea60";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-help-b:before {
  content: "\ea61";
}
.pds-help:before {
  content: "\ea62";
  color: #6429cd;
}
.pds-help-f .path1:before {
  content: "\ea63";
  color: rgb(100, 41, 205);
}
.pds-help-f .path2:before {
  content: "\ea64";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-help-f .path3:before {
  content: "\ea65";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-heart-b:before {
  content: "\ea66";
}
.pds-heart:before {
  content: "\ea67";
  color: #6429cd;
}
.pds-heart-f .path1:before {
  content: "\ea68";
  color: rgb(100, 41, 205);
}
.pds-heart-f .path2:before {
  content: "\ea69";
  margin-left: -1.03125em;
  color: rgb(255, 255, 255);
}
.pds-headphones-b:before {
  content: "\ea6a";
}
.pds-headphones:before {
  content: "\ea6b";
  color: #6429cd;
}
.pds-headphones-f .path1:before {
  content: "\ea6c";
  color: rgb(100, 41, 205);
}
.pds-headphones-f .path2:before {
  content: "\ea6d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-grid-b:before {
  content: "\ea6e";
}
.pds-grid:before {
  content: "\ea6f";
  color: #6429cd;
}
.pds-grid-f .path1:before {
  content: "\ea70";
  color: rgb(100, 41, 205);
}
.pds-grid-f .path2:before {
  content: "\ea71";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-grid-f .path3:before {
  content: "\ea72";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-grid-f .path4:before {
  content: "\ea73";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-grid-f .path5:before {
  content: "\ea74";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-globe-b:before {
  content: "\ea75";
}
.pds-globe:before {
  content: "\ea76";
  color: #6429cd;
}
.pds-globe-f .path1:before {
  content: "\ea77";
  color: rgb(100, 41, 205);
}
.pds-globe-f .path2:before {
  content: "\ea78";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-folder-b:before {
  content: "\ea79";
}
.pds-folder:before {
  content: "\ea7a";
  color: #6429cd;
}
.pds-folder-f .path1:before {
  content: "\ea7b";
  color: rgb(100, 41, 205);
}
.pds-folder-f .path2:before {
  content: "\ea7c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-flag-b:before {
  content: "\ea7d";
}
.pds-flag:before {
  content: "\ea7e";
  color: #6429cd;
}
.pds-flag-f .path1:before {
  content: "\ea7f";
  color: rgb(100, 41, 205);
}
.pds-flag-f .path2:before {
  content: "\ea80";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-filter-b:before {
  content: "\ea81";
}
.pds-filter:before {
  content: "\ea82";
  color: #6429cd;
}
.pds-filter-f .path1:before {
  content: "\ea83";
  color: rgb(100, 41, 205);
}
.pds-filter-f .path2:before {
  content: "\ea84";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-filter-f .path3:before {
  content: "\ea85";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-filter-f .path4:before {
  content: "\ea86";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-film-b:before {
  content: "\ea87";
}
.pds-film:before {
  content: "\ea88";
  color: #6429cd;
}
.pds-film-f .path1:before {
  content: "\ea89";
  color: rgb(100, 41, 205);
}
.pds-film-f .path2:before {
  content: "\ea8a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-file-b:before {
  content: "\ea8b";
}
.pds-file:before {
  content: "\ea8c";
  color: #6429cd;
}
.pds-file-f .path1:before {
  content: "\ea8d";
  color: rgb(100, 41, 205);
}
.pds-file-f .path2:before {
  content: "\ea8e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-eye-b:before {
  content: "\ea8f";
}
.pds-eye:before {
  content: "\ea90";
  color: #6429cd;
}
.pds-eye-f .path1:before {
  content: "\ea91";
  color: rgb(100, 41, 205);
}
.pds-eye-f .path2:before {
  content: "\ea92";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-eye-f .path3:before {
  content: "\ea93";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-edit-b:before {
  content: "\ea94";
}
.pds-edit:before {
  content: "\ea95";
  color: #6429cd;
}
.pds-edit-f .path1:before {
  content: "\ea96";
  color: rgb(100, 41, 205);
}
.pds-edit-f .path2:before {
  content: "\ea97";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-download-b:before {
  content: "\ea98";
}
.pds-download:before {
  content: "\ea99";
  color: #6429cd;
}
.pds-download-f .path1:before {
  content: "\ea9a";
  color: rgb(100, 41, 205);
}
.pds-download-f .path2:before {
  content: "\ea9b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-download-f .path3:before {
  content: "\ea9c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-copy-b:before {
  content: "\ea9d";
}
.pds-copy:before {
  content: "\ea9e";
  color: #6429cd;
}
.pds-copy-f .path1:before {
  content: "\ea9f";
  color: rgb(100, 41, 205);
}
.pds-copy-f .path2:before {
  content: "\eaa0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-copy-f .path3:before {
  content: "\eaa1";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-code-b:before {
  content: "\eaa2";
}
.pds-code-f .path1:before {
  content: "\eaa3";
  color: rgb(100, 41, 205);
}
.pds-code-f .path2:before {
  content: "\eaa4";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-code-f .path3:before {
  content: "\eaa5";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-code:before {
  content: "\eaa6";
  color: #6429cd;
}
.pds-clock-b:before {
  content: "\eaa7";
}
.pds-clock:before {
  content: "\eaa8";
  color: #6429cd;
}
.pds-clipboard-b:before {
  content: "\eaa9";
}
.pds-clipboard-f .path1:before {
  content: "\eaaa";
  color: rgb(100, 41, 205);
}
.pds-clipboard-f .path2:before {
  content: "\eaab";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-clipboard:before {
  content: "\eaac";
  color: #6429cd;
}
.pds-check-b:before {
  content: "\eaad";
}
.pds-check-f .path1:before {
  content: "\eaae";
  color: rgb(100, 41, 205);
}
.pds-check-f .path2:before {
  content: "\eaaf";
  margin-left: -1.03125em;
  color: rgb(255, 255, 255);
}
.pds-check:before {
  content: "\eab0";
  color: #6429cd;
}
.pds-camera-b:before {
  content: "\eab1";
}
.pds-camera-f .path1:before {
  content: "\eab2";
  color: rgb(100, 41, 205);
}
.pds-camera-f .path2:before {
  content: "\eab3";
  margin-left: -0.9697265625em;
  color: rgb(255, 255, 255);
}
.pds-camera-f .path3:before {
  content: "\eab4";
  margin-left: -0.9697265625em;
  color: rgb(255, 255, 255);
}
.pds-camera:before {
  content: "\eab5";
  color: #6429cd;
}
.pds-calendar-b:before {
  content: "\eab6";
}
.pds-calendar-f .path1:before {
  content: "\eab7";
  color: rgb(100, 41, 205);
}
.pds-calendar-f .path2:before {
  content: "\eab8";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-calendar:before {
  content: "\eab9";
  color: #6429cd;
}
.pds-bookmark-b:before {
  content: "\eaba";
}
.pds-bookmark-f .path1:before {
  content: "\eabb";
  color: rgb(100, 41, 205);
}
.pds-bookmark-f .path2:before {
  content: "\eabc";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-bookmark:before {
  content: "\eabd";
  color: #6429cd;
}
.pds-user-f .path1:before {
  content: "\eabe";
  color: rgb(100, 41, 205);
}
.pds-user-f .path2:before {
  content: "\eabf";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-user-f .path3:before {
  content: "\eac0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-clock-f .path1:before {
  content: "\eac1";
  color: rgb(100, 41, 205);
}
.pds-clock-f .path2:before {
  content: "\eac2";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-clock-f .path3:before {
  content: "\eac3";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-bell-f .path1:before {
  content: "\eac4";
  color: rgb(100, 41, 205);
}
.pds-bell-f .path2:before {
  content: "\eac5";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-bell-f .path3:before {
  content: "\eac6";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-bell-b:before {
  content: "\eac7";
}
.pds-bell:before {
  content: "\eac8";
  color: #6429cd;
}
.pds-battery-f .path1:before {
  content: "\eac9";
  color: rgb(100, 41, 205);
}
.pds-battery-f .path2:before {
  content: "\eaca";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-battery-f .path3:before {
  content: "\eacb";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-battery-b:before {
  content: "\eacc";
}
.pds-battery:before {
  content: "\eacd";
  color: #6429cd;
}
.pds-bar-chart-f .path1:before {
  content: "\eace";
  color: rgb(100, 41, 205);
}
.pds-bar-chart-f .path2:before {
  content: "\eacf";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-bar-chart-f .path3:before {
  content: "\ead0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-bar-chart-f .path4:before {
  content: "\ead1";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-bar-chart-b:before {
  content: "\ead2";
}
.pds-bar-chart:before {
  content: "\ead3";
  color: #6429cd;
}
.pds-arrow-up-f .path1:before {
  content: "\ead4";
  color: rgb(100, 41, 205);
}
.pds-arrow-up-f .path2:before {
  content: "\ead5";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-arrow-up-b:before {
  content: "\ead6";
}
.pds-arrow-up:before {
  content: "\ead7";
  color: #6429cd;
}
.pds-arrow-right-f .path1:before {
  content: "\ead8";
  color: rgb(100, 41, 205);
}
.pds-arrow-right-f .path2:before {
  content: "\ead9";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-arrow-right-b:before {
  content: "\eada";
}
.pds-arrow-right:before {
  content: "\eadb";
  color: #6429cd;
}
.pds-arrow-left-f .path1:before {
  content: "\eadc";
  color: rgb(100, 41, 205);
}
.pds-arrow-left-f .path2:before {
  content: "\eadd";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-arrow-left-b:before {
  content: "\eade";
}
.pds-arrow-left:before {
  content: "\eadf";
  color: #6429cd;
}
.pds-arrow-down-f .path1:before {
  content: "\eae0";
  color: rgb(100, 41, 205);
}
.pds-arrow-down-f .path2:before {
  content: "\eae1";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-arrow-down-b:before {
  content: "\eae2";
}
.pds-arrow-down:before {
  content: "\eae3";
  color: #6429cd;
}
.pds-archive-f .path1:before {
  content: "\eae4";
  color: rgb(100, 41, 205);
}
.pds-archive-f .path2:before {
  content: "\eae5";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-archive-f .path3:before {
  content: "\eae6";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-archive-b:before {
  content: "\eae7";
}
.pds-archive:before {
  content: "\eae8";
  color: #6429cd;
}
.pds-aperture-f .path1:before {
  content: "\eae9";
  color: rgb(100, 41, 205);
}
.pds-aperture-f .path2:before {
  content: "\eaea";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.pds-aperture-b:before {
  content: "\eaeb";
}
.pds-aperture:before {
  content: "\eaec";
  color: #6429cd;
}
.pds-alert-f .path1:before {
  content: "\eaed";
  color: rgb(100, 41, 205);
}
.pds-alert-f .path2:before {
  content: "\eaee";
  margin-left: -0.9697265625em;
  color: rgb(255, 255, 255);
}
.pds-alert-f .path3:before {
  content: "\eaef";
  margin-left: -0.9697265625em;
  color: rgb(255, 255, 255);
}
.pds-alert-f .path4:before {
  content: "\eaf0";
  margin-left: -0.9697265625em;
  color: rgb(255, 255, 255);
}
.pds-alert-b:before {
  content: "\eaf1";
}
.pds-alert:before {
  content: "\eaf2";
  color: #6429cd;
}
.pds-airplay:before {
  content: "\eaf3";
  color: #6429cd;
}
.pds-airplay-b:before {
  content: "\eaf4";
}
.pds-airplay-f .path1:before {
  content: "\eaf5";
  color: rgb(100, 41, 205);
}
.pds-airplay-f .path2:before {
  content: "\eaf6";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
