:host {
  --display: inline-block;
  --position-r: relative;
  --position-a: absolute;
  --box: border-box;
  --font-base: var(--pds-font-family-base);
  --size-arrow: 16px;
  --initial: initial;
  --index: 1;
  --text-color: var(--pds-color-primary-gray-500);
  --text-color-white: var(--pds-color-white-50);

  --width-tooltip: 256px;
  --min-height: 48px;
  --padding: 14px;
  --border-radius: 10px;
  --bg-tooltip: var(--pds-color-white-50);
  --bg-dark: var(--pds-color-primary-purple-500);
  --box-shadow-tooltip: 0px 12px 24px 0px rgba(255, 255, 255, 0.4), 0px 4px 24px 0px rgba(255, 255, 255, 0.24);
  --box-shadow-tooltip-dark: 0px 12px 24px 0px rgba(100, 41, 205, 0.4), 0px 4px 24px 0px rgba(100, 41, 205, 0.24);

  --less-position-arrow: -7px;
  --position-arrow: 50%;
  --transform-arrow: translateX(-50%) rotate(45deg);
  --transform-arrow-y: translateY(-50%) rotate(45deg);
}

.tooltip {
  position: var(--position-r);
  display: var(--display);
  box-sizing: var(--box);
  font-family: var(--font-base);
  z-index: var(--index);

  .arrow {
    position: var(--position-a);
    width: var(--size-arrow);
    height: var(--size-arrow);
    background-color: var(--bg-tooltip);
    bottom: var(--less-position-arrow);
    left: var(--position-arrow);
    transform: var(--transform-arrow);
  }

  .content {
    box-sizing: var(--box);
    width: var(--width-tooltip);
    min-height: var(--min-height);
    padding: var(--padding);
    border-radius: var(--border-radius);
    background-color: var(--bg-tooltip);
    box-shadow: var(--box-shadow-tooltip);
    color: var(--text-color);
  }
}

:host([position='top']) .arrow {
  top: var(--less-position-arrow);
  left: var(--position-arrow);
}
:host([position='left']) .arrow {
  top: var(--position-arrow);
  left: var(--less-position-arrow);
  --transform-arrow: var(--transform-arrow-y);
}
:host([position='right']) .arrow {
  top: var(--position-arrow);
  right: var(--less-position-arrow);
  left: var(--initial);
  --transform-arrow: var(--transform-arrow-y);
}

:host([theme='dark']) .content {
  --bg-tooltip: var(--bg-dark);
  --text-color: var(--text-color-white);
  --box-shadow-tooltip: var(--box-shadow-tooltip-dark);
}
:host([theme='dark']) .arrow {
  --bg-tooltip: var(--bg-dark);
}
