:host {
  --font-family: var(--pds-font-family-base, inherit);

  --font-label: var(--pds-font-weight-bold) 14px var(--font-family);
  --color-label: var(--label-color);

  --font-help: var(--pds-font-weight-regular) 10px var(--font-family);
  --icon-color: var(--pds-color-primary-purple-500);

  --font-input: var(--pds-font-weight-regular) 14px/20px var(--font-family);
  --padding-input: 9px 4px 9px 15px;
  --margin-input: 4px 0;
  --border-input: 1px solid var(--icon-color);
  --background-input: rgba(var(--pds-color-primary-purple-500-rgb), 0.08);
  --placeholder-input: var(--pds-color-gray-500);
  --focus-input: 0 0 10px var(--pds-color-primary-purple-500);
  --color-input: var(--input-color);
  --border-radius: 50px;
  --cursor: pointer;

  all: initial;
}

label {
  font: var(--font-label);
  color: var(--color-label);
}

span.help {
  display: inline-block;
  width: 100%;
  font: var(--font-help);
  margin: 0;
}

span {
  position: relative;
  display: inline-block;
  margin: var(--margin-input);
  width: 100%;

  input {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border-radius: var(--border-radius);
    font: var(--font-input);
    padding: var(--padding-input);
    border: var(--border-input);
    background-color: var(--background-input);
    color: var(--color-input);

    &::placeholder {
      color: var(--placeholder-input);
    }

    &:focus {
      box-shadow: var(--focus-input);
      border: var(--border-input);
      outline: none;
    }
  }

  i {
    position: absolute;
    right: 4px;
    top: 0;
    bottom: 0;
    width: 32px;
    height: 32px;
    margin: auto;
    background-color: var(--icon-color);
    border-radius: 50%;
    color: var(--pds-color-white-50);

    pds-icon {
      display: block;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: fit-content;
      height: fit-content;
      cursor: var(--cursor);
    }
  }
}

:host(.is-disabled) {
  --color-label: var(--pds-color-gray-400);
  --color-input: var(--pds-color-gray-400);
  --background-input: var(--pds-color-gray-400-opacity-100);
  --icon-color: var(--pds-color-gray-400-opacity-500);
}

:host(.has-error) {
  --color-input: var(--pds-color-error-500);
  --background-input: var(--pds-color-error-500-opacity-100);
  --icon-color: var(--pds-color-error-500);

  input {
    box-shadow: none;
    box-shadow: inset 0 0 10px var(--pds-color-error-500);

    &::placeholder {
      color: var(--color-input);
    }
  }

  span.help {
    color: var(--color-input);

    pds-icon span {
      width: auto;
      font-size: 16px;
      vertical-align: middle;
      margin-right: 0.45em;

      &:before {
        color: var(--color-input);
      }
    }
  }
}

:host(.is-ok) {
  --color-input: var(--pds-color-success-500);
  --background-input: var(--pds-color-success-500-opacity-100);
  --icon-color: var(--pds-color-success-500);

  input {
    box-shadow: none;
    box-shadow: inset 0 0 10px var(--pds-color-success-500);

    &::placeholder {
      color: var(--color-input);
    }
  }

  span.help {
    color: var(--color-input);

    pds-icon span {
      width: auto;
      font-size: 16px;
      vertical-align: middle;
      margin-right: 0.45em;

      &:before {
        color: var(--color-input);
      }
    }
  }
}
