:host {
  display: block;

  --bg-option: var(--pds-color-gray-50);
  --color-option-text: var(--pds-color-primary-purple-700);
  --font: var(--pds-font-paragraph-03-regular);
}

.option {
    background-color: var(--bg-option);
    color: var(--color-option-text);
    font: var(--font);
    padding: 9px 13px;

    &--dark-theme {
      background-color: var(--pds-color-primary-purple-900);
      color: var(--pds-color-white-50);
    }

    &:hover {
      border-right: 1px solid var(--primary-60-purple-primary-purple-500, #6429CD);
      border-left: 1px solid var(--primary-60-purple-primary-purple-500, #6429CD);
      background: var(--primary-60-purple-primary-purple-500, #6429CD);
      color: #fff;
      /* inner + shadow/03 */
      box-shadow: 0px 0px 20px 0px rgba(189, 189, 255, 0.60) inset, 0px 12px 24px 0px rgba(100, 41, 205, 0.60);
      cursor: pointer;
    }
}
