$border-color: #9D9DA199;

input[type="checkbox"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  margin: 0;
  width: 50px;
  height: 24px;
  background-color: var(--pds-color-gray-100);;
  border-radius: 12px;
  border: 1px solid $border-color;
  transition: background-color 0.3s;
  box-shadow: 0 0 1px var(--pds-color-gray-400);


  &::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: var(--pds-color-gray-300);
    transition: left 0.2s;
  }

  &:checked {
    background-color: var(--pds-color-primary-purple-500);
    box-shadow: 0 0 1px var(--pds-color-primary-purple-500);
    border: 1px solid var(--pds-color-primary-purple-500);

    &::after {
      background-color: var(--pds-color-white-50);
      left: 75%;
    }
  }
}

