:host {
  display: block;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  width: 540px;

  --font: var(--pds-font-family-base);

  --bg-toast: var(--pds-color-success-700);
  --bg-toast-error: var(--pds-color-error-500);
  --bg-toast-alert: var(--pds-color-warning-500);
  --bg-toast-information: var(--pds-color-secondary-purpel-500);

  --bs-toast: 0px 0px 20px 0px rgba(0, 236, 165, 0.6) inset, 0px 12px 24px 0px rgba(0, 236, 165, 0.4);
  --bs-toast-error: 0px 0px 20px 0px rgba(255, 82, 123, 0.6) inset, 0px 12px 24px 0px rgba(255, 82, 123, 0.4);
  --bs-toast-alert: 0px 0px 20px 0px rgba(255, 238, 179, 0.8) inset, 0px 12px 24px 0px rgba(255, 202, 16, 0.4);
  --bs-toast-information: 0px 0px 20px 0px rgba(189, 189, 255, 0.6) inset, 0px 12px 24px 0px rgba(100, 41, 205, 0.6);

  --text-color: var(--pds-color-white-50);
  --text-color-black: var(--pds-color-gray-900);

  --transform-fadein: translateY(20px);
  --transform-fadeout: translateY(-20px);

  --color-icon-border: 1px solid #fff;
  --color-icon-border-black: 1px solid #0c0c0d;

  @media (max-width: 611px) {
    left: 2%;
    transform: inherit;
    width: 96%;
  }
}
.toast {
  font-family: var(--font);
  background: var(--bg-toast);
  color: var(--text-color);
  padding: 23px 27px 23px 23px;
  border-radius: 25px;
  box-shadow: var(--bs-toast);
  z-index: 9999;
  animation: fadeIn 0.4s ease-in-out forwards;
  display: flex;
  justify-content: space-between;

  &__content {
    display: flex;
    gap: 12px;
  }

  &__icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: var(--color-icon-border);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-title {
    font-weight: var(--pds-font-weight-bold);
    font-size: var(--pds-font-heading-06-size);
    margin: 0;
    padding-top: 2px;
  }

  &-message {
    font-size: var(--pds-font-paragraph-03-size);
    margin: 8px 0 0;
  }
  .icon {
    padding-top: 5px;
    cursor: pointer;
  }
}

:host([type='error']) {
  --bg-toast: var(--bg-toast-error);
  --bs-toast: var(--bs-toast-error);
}
:host([type='alert']) {
  --bg-toast: var(--bg-toast-alert);
  --bs-toast: var(--bs-toast-alert);
  --text-color: var(--text-color-black);
  --color-icon-border: var(--color-icon-border-black);
}
:host([type='information']) {
  --bg-toast: var(--bg-toast-information);
  --bs-toast: var(--bs-toast-information);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}
