:host {
  --space-top-button: var(--pds-space-s);
  --space-left-rigth-botton: var(--pds-space-s);

  --size-card: auto;
  --size-card-small: 340px;
  --size-card-large: 375px;

  display: block;
  width: var(--size-card);
  padding: var(--space-top-button) var(--space-left-rigth-botton);
  border-radius: 24px;
  background: var(--pds-color-white-50, #fff);
  box-shadow: 0px 8px 16px 0px rgba(80, 95, 108, 0.15);
  box-sizing: border-box;
}

:host([size='small']) {
  --size-card: var(--size-card-small);
}

:host([size='large']) {
  --size-card: var(--size-card-large);
}
