:host {
  display: block;

  --color-700:var(--pds-color-primary-purple-700);
  --color-500:var(--pds-color-primary-purple-500);
  --color-gray-500:var(--pds-color-gray-50);
  --color-white:var(--pds-color-white-50);
  --color-border: var(--color-500);
  --color-placeholder: rgba(157, 157, 161, 0.40);

  --bg-options: var(--pds-color-gray-50);

  --font-regular:var(--pds-font-paragraph-03-regular);
  --font-regular-footer:var(--pds-font-footer-regular);
  --font-bold:var(--pds-font-paragraph-03-bold);

  --bg-placeholder: rgba(100, 41, 205, 0.08);

  --color-disabled: rgba(157, 157, 161, 0.60);
  --color-icon-disabled: var(--pds-color-gray-400);
  --bg-disabled: rgba(157, 157, 161, 0.08);
  --text-label: var(--pds-color-primary-purple-700);

  --shadow: 0px 0px 20px 0px rgba(189, 189, 255, 0.20) inset, 0px 0px 15px 0px #6429CD;
  --cursor: pointer:
  --none: none;

  --width: 292px;
}

.label{
  color: var(--text-label);
  font: var(--font-bold);
  padding: 0;
  margin: 0 0 8px;
}

.dropdown {
  position: relative;
  width: var(--width);
  height: 40px;
  box-sizing: border-box;
}

.dropdown-placeholder {
  padding: 10px 0 10px 4px;
  font: var(--font-regular);
  border: 1px solid var(--color-border);
  background: var(--bg-placeholder);
  border-radius: 100px;
  color: var(--color-placeholder);
  outline: none;
  cursor: var(--cursor);

  &-text {
    padding-left: 8px;
  }

  &-selected {
    color: var(--color-700);
  }

  &:hover {
    box-shadow: var(--shadow);
  }
}
.dropdown-icon {
  align-items: center;
  background-color: var(--color-border);
  border-radius: 50%;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  height: 32px;
  position: absolute;
  width: 32px;
  right: 5px;
  top: 4px;
  transition: 0.2s;
}
pds-icon {
  display: flex;
}

.icon-active {
  transform: rotateZ(180deg);
  transition: 0.2s;
}

.dropdown-options {
  box-shadow: 0px 12px 24px 0px rgba(100, 41, 205, 0.4), 0px 4px 24px 0px rgba(100, 41, 205, 0.24);
  border-radius: 15px;
  padding-right: 4px;
  background-color: var(--bg-options);
 
}
.dropdown-options-scrollbar {
  overflow-y: auto;
  max-height: 156px;
  border-radius: 15px;
}
.dropdown-options-scrollbar::-webkit-scrollbar {
  -webkit-appearance: none;
}
.dropdown-options-scrollbar::-webkit-scrollbar:vertical {
  width:4px;
}
.dropdown-options-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-500);
  border-radius: 8px;
}
.dropdown-options-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;  
}
.desc-text {
  font: var(--font-regular-footer);
  color: var(--text-label);
  padding: 0;
  margin: 8px 0 0;
}

:host([disabled=true]) {
  --color-border: var(--pds-color-gray-400-opacity-300);
  --color-white: var(--color-icon-disabled);
  --text-label: var(--color-disabled) !important;
  --bg-placeholder: var(--bg-disabled);
  --shadow: var(--none);
  --cursor: var(--none);
}
