@import '../../global/mixins.scss';

:host {
  /**
   * @prop --background: Background of the checkbox container
   * @prop --background-checked: Background of the checkbox container when checked
   * @prop --background-disabled: Background of the checkbox container when disabled
   *
   * @prop --border: Border style of the checkbox container
   * @prop --border-checked: Border style of the checkbox container when checked
   * @prop --border-disabled: Border style of the checkbox container when disabled
   * @prop --border-radius: Border radius of the checkbox container
   *
   * @prop --box-shadow-hover: Box shadow of the checkbox container
   *
   * @prop --checkmark-color-disabled: Color of the checkbox checkmark when disabled
   *
   * @prop --font: Font with the format: font-style font-variant font-weight font-size/line-height font-family;
   *
   * @prop --margin-left-label: Margin left of the label
   *
   * @prop --size: Size of the checkbox container
   *
   * @prop --transition: Transition of the checkbox icon
   */
  --background: rgba(var(--pds-color-primary-purple-500-rgb), var(--pds-opacity-100));
  --border: 1px solid var(--pds-color-primary-purple-500);
  --border-radius: 5px;
  --size: 24px;
  --margin-left-label: var(--pds-space-xs);
  --font: var(--pds-font-weight-regular) 16px / 22px var(--pds-font-family-base);
  --transition: background 300ms ease-out;

  // hover
  --box-shadow-hover: var(--pds-inner-shadow-02);
  // checked
  --border-checked: none;
  --background-checked: var(--pds-color-primary-purple-500, #6429cd);
  // :disabled
  --border-disabled: 1px solid rgba(var(--pds-color-gray-400-rgb), var(--pds-opacity-500));
  --background-disabled: rgba(var(--pds-color-gray-400-rgb), var(--pds-opacity-300));
  --checkmark-color-disabled: rgba(var(--pds-color-gray-400-rgb), var(--pds-opacity-500));

  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  z-index: 2;
}

input {
  @include visually-hidden();
}

.checkbox {
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: inherit;
  cursor: inherit;

  &__control {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: var(--size);
    height: var(--size);
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: var(--border);
    background: var(--background);
    transition: var(--transition);

    &:hover {
      box-shadow: var(--box-shadow-hover);
    }
  }

  &__label {
    margin-left: var(--margin-left-label);
    pointer-events: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font: var(--font);

    &--hidden {
      display: none;
    }
  }
}

:host(.checkbox--checked) .checkbox__control,
:host([indeterminate]) .checkbox__control {
  --border: var(--border-checked);
  --background: var(--background-checked);
}

:host(.checkbox--disabled) {
  pointer-events: none;

  .checkbox__control {
    --border: var(--border-disabled);
    --background: var(--background-disabled);

    path {
      fill: var(--checkmark-color-disabled);
    }
  }
}
