<div>
  <pds-checkbox></pds-checkbox>
  <pds-checkbox disabled></pds-checkbox>
  <pds-checkbox disabled checked></pds-checkbox>
</div>
<div>
  <pds-checkbox>Opción 1</pds-checkbox>
  <pds-checkbox disabled="true">Opción 1</pds-checkbox>
  <pds-checkbox checked="false">Opción 1</pds-checkbox>
</div>

<div>
  <h2>Reactive form</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <pds-checkbox formControlName="acceptTerms" (bhdchange)="change($event)">Accept Terms & Conditions</pds-checkbox>
    <div>
      <pds-button type="submit">Submit</pds-button>
    </div>
  </form>
</div>
