:host {
  display: block;

  --color-text-default: var(--pds-color-primary-purple-700);
  --color-text-active: var(--pds-color-primary-purple-500);
  --color-text-disabled: rgba(157, 157, 161, 0.6);
  --color-text: var(--color-text-default);

  --font-regular: var(--pds-font-paragraph-03-regular);
  --font-bold: var(--pds-font-paragraph-03-bold);
  --font: var(--font-regular);
}
nav {
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;

      a {
        text-decoration: none;
        color: var(--color-text);
        font: var(--font);
        transition: color 0.3s ease;

        &:hover {
          color: var(--color-text-active);
        }
      }

      &.active a {
        color: var(--color-text-active);
        font: var(--font-bold);
      }

      &.underline a {
        text-decoration: underline;
      }

      &:not(:last-child)::after {
        content: '/';
        color: var(--color-text-active);
        margin: 0 0.5rem;
      }
    }
    
  }
  .disabled {
    &, li, a {
      --font: var(--font-regular);
      --font-bold: var(--font-regular);
      --color-text: var(--color-text-disabled);
      --color-text-active: var(--color-text-disabled);
      cursor: default;
      pointer-events: none;      
    }
    .underline a {
      text-decoration: none;
    }
  }
}
