:host {
  display: block;
  --justify: center;
  --size-radio: 24px;
  --size-dot: 12px;
  --bg-color: rgba(100, 41, 205, 0.3);
  --bg-disable: rgba(157.26, 157.26, 160.65, 0.3);
  --color-border: var(--pds-color-primary-purple-500);
  --color-border-disable: rgba(157, 157, 161, 0.6);
  --shadow-radio: 0px 0px 6px 0px rgba(189, 189, 255, 0.6) inset, 0px 5px 10px 0px rgba(100, 41, 205, 0.6);
  --type-cursor: pointer;
  --type-cursor-disable: default;
  --box: border-box;
}

.radio-button {
  display: flex;
  align-items: var(--justify);
  justify-content: var(--justify);
  width: var(--size-radio);
  height: var(--size-radio);
  border-radius: 50%;
  box-sizing: var(--box);
  background-color: var(--bg-color);
  border: 1px solid var(--color-border);

  &:hover {
    box-shadow: var(--shadow-radio);
    cursor: var(--type-cursor);
  }

  &--disabled {
    background-color: var(--bg-disable);
    border: 1px solid var(--color-border-disable);
    .radio-button__dot {
      background-color: var(--color-border-disable);
    }
    &:hover {
      /* inner + shadow/02 */
      cursor: var(--type-cursor-disable);
      box-shadow: initial;
    }
  }
}

.radio-button__dot {
  width: var(--size-dot);
  height: var(--size-dot);
  border-radius: 50%;
  background-color: var(--color-border);
  box-sizing: var(--box);
  display: block;
}

:host([disabled=true]) {
  --size-avatar: var(--size-small);
  --font-default: var(--font-small);
}