#custom1 {
  --bg-color-secondary: #f27a1a;
  --bg-color-hover-secondary: #ef6114;
  --shadow: none;
  --border-color-secondary: #ef6114;
  --text-color-secondary: white;
  --border-radius: .375rem;
  --bg-color-active-secondary: #f27a1a;
}

// #custom1::  {

// }
