<section>
  <div>
    <h2>Primary</h2>
    <p>Medium</p>
    <pds-button>Button</pds-button>
    <p>Medium/Disabled</p>
    <pds-button disabled>Button</pds-button>
    <p>Small</p>
    <pds-button size="small">Button</pds-button>
    <p>Small/Disabled</p>
    <pds-button size="small" disabled>Button</pds-button>
  </div>

  <hr>

  <div>
    <h2>Secondary</h2>
    <p>Medium</p>
    <pds-button color='secondary'>Button</pds-button>
    <p>Medium/Disabled</p>
    <pds-button color='secondary' disabled>Button</pds-button>
    <p>Small</p>
    <pds-button color='secondary' size="small">Button</pds-button>
    <p>Small/Disabled</p>
    <pds-button color='secondary' size="small" disabled>Button</pds-button>
  </div>

  <hr>

  <div>
    <h2>Tertiary</h2>
    <p>Medium</p>
    <pds-button color='tertiary'>Button</pds-button>
    <p>Medium/Disabled</p>
    <pds-button color='tertiary' disabled>Button</pds-button>
    <p>Small</p>
    <pds-button color='tertiary' size="small">Button</pds-button>
    <p>Small/Disabled</p>
    <pds-button color='tertiary' size="small" disabled>Button</pds-button>
  </div>

  <div>
    <h2>Custom propertys</h2>
    <p>Medium</p>
    <pds-button id="custom1" color='secondary'>Button</pds-button>
  </div>

</section>
