@import '../../assets/PragmaIcons/style.css';

.pds {
  font-size: 5em;
}
  .pds:hover {
    fill: var(--primary-60-purple-primary-purple-500, #6429cd);
    filter: drop-shadow(0px 0px 15px #6429cd);
    box-shadow: 0px 0px 20px 0px rgba(189, 189, 255, 0.2) inset;
    background-color: rgba($color: #6429CD, $alpha: 0.2);
    border-radius: 50%;
    cursor: pointer;
  }

  .pds:active {
    fill: var(--secondary-30-purple-secondary-purple-700, #409);
    box-shadow: 0px 0px 20px 0px rgba(189, 189, 255, 0.2) inset;
    filter: drop-shadow(0px 0px 15px #6429cd);
  }
.pds.disabled:hover{
  fill: none;
  filter: none;
  box-shadow: none;
  background-color: transparent;
  cursor: default;
}

.pds.disabled::before{
    color: #9D9DA1 !important;
    // cursor: not-allowed;
}
