:host {
  display: block;

  --d-flex: flex;
  --d-i-block: inline-block;
  --d-none: none;
  --center: center;

  --separate: 16px;

  --font: var(--pds-font-paragraph-03-semibold);
  --color: var(--pds-color-primary-purple-700);
  --color-active: var(--pds-color-white-50);

  --bg-button: transparent;
  --bg-button-active: var(--pds-color-primary-purple-500);

  --box-shadow: var(--pds-inner-shadow-02);

  --zero: 0;

  --cursor: pointer;
  --size: 26px;
}

.paginator {
  display: var(--d-flex);
  align-items: var(--center);
  height: var(--size);
  gap: var(--separate);

  button {
    display: var(--d-i-block);
    font: var(--font);
    background-color: var(--bg-button);
    padding: var(--zero);
    margin-right: var(--zero);
    border: var(--d-none);
    color: var(--color);
    cursor: var(--cursor);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;

    &:hover,
    &.active {
      background-color: var(--bg-button-active);
      color: var(--color-active);
      box-shadow: var(--box-shadow);
    }
  }

  .icons {
    width: var(--size);
    height: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: var(--cursor);
    color: var(--color);
    pds-icon {
      --color-icon: var(--color);
    }

    &:hover,
    &.active {
      background-color: var(--bg-button-active);
      color: var(--color-active);
      box-shadow: var(--box-shadow);

      pds-icon {
        --color-icon: var(--color-active);
      }
    }
  }
}
