.dark-theme {
  background: var(--pds-color-primary-gray-900);
  color: var(--pds-color-gray-50);

  pds-button {
    &[variant='secondary'] {
      --color: var(--pds-color-gray-50);
      --color-hover: var(--color);
      --color-activated: var(--color);
      --background-hover: linear-gradient(0deg, var(--pds-color-primary-purple-700), var(--pds-color-primary-purple-700));
    }

    &[variant='tertiary'] {
      --color: var(--pds-color-gray-50);
      --color-hover: var(--color);
      --color-activated: var(--color);
      --background-hover: var(--pds-color-primary-purple-700);
    }
  }

  pds-button.white {
    --background: var(--pds-color-gray-50);
    --color: var(--pds-color-primary-purple-500);
    --box-shadow-hover: var(--pds-inner-shadow-04);
    --background-activated: var(--pds-color-primary-indigo-500);
    --box-shadow-activated: var(--box-shadow-hover);

    &[variant='secondary'] {
      --background: transparent;
      --border: 1px solid var(--pds-color-gray-50);
      --color: var(--pds-color-gray-50);
      --background-hover: linear-gradient(0deg, rgba(var(--pds-color-gray-400-rgb), var(--pds-opacity-300)), rgba(var(--pds-color-gray-400-rgb), var(--pds-opacity-300)));
      --color-hover: var(--color);
      --color-activated: var(--pds-color-primary-purple-500);
      --background-activated: var(--pds-color-gray-50);
    }

    &[variant='tertiary'] {
      --background: transparent;
      --color: var(--pds-color-gray-50);
      --background-hover: rgba(var(--pds-color-gray-400-rgb), var(--pds-opacity-300));
      --color-hover: var(--color);
      --box-shadow-hover: none;
      --background-activated: var(--pds-color-gray-50);
      --color-activated: var(--pds-color-primary-purple-500);
      --box-shadow-activated: var(--box-shadow-hover);
    }
  }

  pds-pagination {
    --color: rgba(157, 157, 161, 0.6);
  }

  pds-dropdown {
    --text-label: var(--pds-color-white-50);
    --color-700: var(--pds-color-gray-400);
    --bg-options: var(--pds-color-primary-purple-900);
    --color-700: var(--pds-color-white-50);
  }
}
