:host {
  display: block;
  --d-none: none;
  --d-flex: flex;
  --f-center: center;

  --box: border-box;

  --bg-header: var(--pds-color-primary-purple-500);

  --color-white: var(--pds-color-white-50);

  --size-accordion: 562px;
  --size-icon: 32px;

  --b-radius: var(--pds-radius-half);
}

.accordion {
  border-radius: 4px;
  overflow: hidden;
  border-radius: 25px;
  box-sizing: var(--box);
  width: var(--size-accordion);

  &__header {
    padding: 11.5px 23px;
    position: relative;
    cursor: pointer;
    background-color: var(--bg-header);
    color: var(--color-white);
    font: var(--pds-font-heading-05-bold);
    display: var(--d-flex);
    justify-content: space-between;
    align-items: var(--f-center);

    &:hover {
      box-shadow: 0px 0px 20px 0px rgba(189, 189, 255, 0.6) inset, 0px 12px 24px 0px rgba(100, 41, 205, 0.6);

      .icon-chevron {
        filter: drop-shadow(0px 0px 2px #fff);
      }
    }

    &-title {
      display: var(--d-flex);
      gap: 8px;
      align-items: var(--f-center);

      p {
        margin: 0;
      }
    }

    &-icon {
      width: 27px;
      height: 27px;
      border: 1px solid;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(334deg) brightness(99%) contrast(103%);
    }
  }

  .accordion-content {
    padding: 24px 23px 34px;
    border-radius: 0px 0px 25px 25px;
    background-color: var(--pds-color-white-50);
    font: var(--pds-font-paragraph-02-regular);
    color: var(--pds-color-primary-purple-700);
  }
}

:host([size='block']) {
  --size-accordion: initial;
}

:host([disable='true']) {
  .accordion {
    &__header {
      background: var(--opacity-gray-400-opacity-300, rgba(157, 157, 161, 0.3));
      cursor: default;
      &:hover {
        box-shadow: var(--d-none);
        .icon-chevron {
          filter: none;
        }
      }

      &-title {
        color: var(--opacity-gray-400-opacity-500, rgba(157, 157, 161, 0.6));
        .icon-title {
          filter: brightness(0) saturate(100%) invert(73%) sepia(6%) saturate(152%) hue-rotate(202deg) brightness(87%) contrast(82%);
        }
      }

      &-icon {
        display: var(--d-flex);
        justify-content: var(--f-center);
        align-items: var(--f-center);
        min-width: var(--size-icon);
        min-height: var(--size-icon);
        border-radius: var(--b-radius);
        user-select: var(--d-none);
        filter: brightness(0) saturate(100%) invert(73%) sepia(6%) saturate(152%) hue-rotate(202deg) brightness(87%) contrast(82%);
      }
    }
  }
}

.icon--open {
  transform: rotateZ(180deg);
}
.open-accordion {
  animation: rotateAnimationOpen 0.2s forwards;
}

.close-accordion {
  animation: rotateAnimationClose 0.2s forwards;
}

@keyframes rotateAnimationOpen {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(180deg);
  }
}

@keyframes rotateAnimationClose {
  0% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
